<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>搜索</title>
    <style type="text/css">
        .s {
            color: #F00;
        }
    </style>
    <style type="text/css">
        a {
            text-decoration: none
        }

        .a {
            color: #808080;
        }

        b {
            color: #808080;
        }

        .a a {
            color: #808080;
        }

        input {
            border: 2px solid red;
        }

        .tj {
            color: white
        }

        .aa {
            color: #000;
        }

        .bb {
            color: #000;
        }

        .cc {
            color: #000;
        }

        .dd {
            color: #000;
        }

        .ee {
            color: #000;
        }

        .ff {
            color: #000;
        }

        .gg {
            color: #000;
        }

        gg {
            color: #000;
        }

        hh {
            color: #000;
        }

        .gg a {
            color: #000;
        }

        .t:hover {
            background-color: #E6E6E6;
        }

        #abc {
            cursor: pointer;
        }

        .s {
            color: #000;
        }
    </style>
    <script type="text/javascript" src="/jslib/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/constance.js"></script>
    <script type="text/javascript" src="/js/url.util.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.post("/mainPageLoad.do", {}, function (data, status) {
                var json = eval('(' + data + ')');
                var result = json.sresult;
                switch (result) {
                    case RESULT_SUCCESS: {
                        $("#lToU").html("<a href=\"/view/login.html\" title=\"a\" class=\"a\" id=\"uname\">" + json.username + "</a>");
                        $("#rToO").html("<button title=\"b\" class=\"a\" id=\"logout\" onclick='logout()'>退出</button>");
                        break;
                    }
                    case RESULT_FAIL:
                        break;
                    default:
                        break;
                }
            });
            //搜索
            var keyword = decodeURI(getQueryVariable("keyword")); //若是中文需要解码
            var type = getQueryVariable("type");
            $("#type").val(type); //给type赋值
            $("#keyword").val(keyword); //给keyword赋值
            $.post("/goods/searchGoodsList.do", {"keyword":keyword, "type":type, "page":0},function (data, status) {
                if (data != undefined) {
                    var json = eval('(' + data + ')');
                    if(json != undefined) {
                        switch (json.sresult) {
                            case RESULT_SUCCESS: {
                                var goodsList = json.goodsList;//从json对象中获取的{}是json对象类型
                                var goodsInfos = "";
                                for(var i = 0; i < goodsList.length; i++){
                                    var goodsInfo = "";
                                    var goods = goodsList[i];

                                    goodsInfo += "<tr>";
                                    //图片
                                    if(goods.imgSrc != undefined){
                                        goodsInfo += '<td width="178" height="212" align="center" valign="middle"><a href="/view/search/goodsInfo.html?id=' + goods.id + '"><img src="' + goods.imgSrc + '" width="156" height="156"/></a></td>';
                                    }else {
                                        goodsInfo += '<td width="178" height="212" align="center" valign="middle"><a href="/view/search/goodsInfo.html?id=' + goods.id + '"><img src="' + '/userimg/storeHead/default.png' + '" width="156" height="156"/></a></td>';
                                    }
                                    goodsInfo += '<td width="790" align="left" valign="top" bgcolor="#F0F0F0">';
                                    //书名
                                    if(goods.name != undefined){
                                        var goodsName = "无";
                                        if(goods.name != undefined){
                                            goodsName = goods.name;
                                        }
                                        goodsInfo += '<p><a href="/view/search/goodsInfo.html?id=' + goods.id + '" title="s" class="s">' + goodsName + '</a></p>';
                                    }else {
                                        goodsInfo += '<p><a href="/view/search/goodsInfo.html?id=' + goods.id + '" title="s" class="s">' + 无 + '</a></p>';
                                    }
                                    //价格
                                    if(goods.cost != undefined) {
                                        goodsInfo += '<p>￥ ' + goods.cost + '</p>';
                                    }else {
                                        goodsInfo += '<p>￥ ' + 0.00 + '</p>';
                                    }
                                    //好评率
                                    if(goods.good_est != undefined &&  goods.bad_est != undefined){
                                        var good_est = parseInt(goods.good_est);
                                        var bad_est = parseInt(goods.bad_est);
                                        var all_est = good_est + bad_est;
                                        if(all_est > 0){
                                            goodsInfo += '<p>好评率：' + (good_est/all_est) +'%</p>';
                                        }else {
                                            goodsInfo += '<p>好评率：' + 100 +'%</p>';
                                        }
                                    }else {
                                        goodsInfo += '<p>好评率：' + 100 +'%</p>';
                                    }
                                    //描述
                                    if(goods.descs != undefined){
                                        goodsInfo += '<p>' + goods.descs + '</p>';
                                    }else {
                                        goodsInfo += '<p>' + '无' + '</p>';
                                    }
                                    goodsInfo += "</td>";
                                    var goodsId = goods.id;
                                    goodsInfo += "</tr>";
                                    goodsInfos += goodsInfo;
                                }
                                var pageButtons = "";
                                if(json.page != undefined){
                                    var pageNum = parseInt(json.page);
                                    pageButtons += '<tr><td colspan="6" align="center">';
                                    for(var i = 0; i < pageNum; i++){
                                        pageButtons += '<input type="button" value="' + (i+1) + '" onclick="selectPage(' + i + ')"/>';
                                    }
                                    pageButtons += '</td></tr>';
                                }
                                $("#goodsTable").html(goodsInfos + pageButtons);
                            }
                                break;
                            case RESULT_FAIL: {
                                $("#goodsTable").html("没有找到相关的宝贝")
                            }
                                break;
                            default:
                                break;
                        }
                    }
                }
            });

        });
        function selectPage(page) {
            $.post("/mainPageLoad.do", {}, function (data, status) {
                var json = eval('(' + data + ')');
                var result = json.sresult;
                switch (result) {
                    case RESULT_SUCCESS: {
                        $("#lToU").html("<a href=\"/view/login.html\" title=\"a\" class=\"a\" id=\"uname\">" + json.username + "</a>");
                        $("#rToO").html("<button title=\"b\" class=\"a\" id=\"logout\" onclick='logout()'>退出</button>");
                        break;
                    }
                    case RESULT_FAIL:
                        break;
                    default:
                        break;
                }
            });
            //搜索
            var keyword = getQueryVariable("keyword");
            var type = getQueryVariable("type");
            $("#type").val(type); //给type赋值
            $("#keyword").val(keyword); //给keyword赋值
            $.post("/goods/searchGoodsList.do", {"keyword":keyword, "type":type, "page":page},function (data, status) {
                if (data != undefined) {
                    var json = eval('(' + data + ')');
                    if(json != undefined) {
                        switch (json.sresult) {
                            case RESULT_SUCCESS: {
                                var goodsList = json.goodsList;//从json对象中获取的{}是json对象类型
                                var goodsInfos = "";
                                for(var i = 0; i < goodsList.length; i++){
                                    var goodsInfo = "";
                                    var goods = goodsList[i];

                                    goodsInfo += "<tr>";
                                    //图片
                                    if(goods.imgSrc != undefined){
                                        goodsInfo += '<td width="178" height="212" align="center" valign="middle"><a href="/view/search/goodsInfo.html?id=' + goods.id + '"><img src="' + goods.imgSrc + '" width="156" height="156"/></a></td>';
                                    }else {
                                        goodsInfo += '<td width="178" height="212" align="center" valign="middle"><a href="/view/search/goodsInfo.html?id=' + goods.id + '"><img src="' + '/userimg/storeHead/default.png' + '" width="156" height="156"/></a></td>';
                                    }
                                    goodsInfo += '<td width="790" align="left" valign="top" bgcolor="#F0F0F0">';
                                    //书名
                                    if(goods.name != undefined){
                                        var goodsName = "无";
                                        if(goods.name != undefined){
                                            goodsName = goods.name;
                                        }
                                        goodsInfo += '<p><a href="/view/search/goodsInfo.html?id=' + goods.id + '" title="s" class="s">' + goodsName + '</a></p>';
                                    }else {
                                        goodsInfo += '<p><a href="/view/search/goodsInfo.html?id=' + goods.id + '" title="s" class="s">' + 无 + '</a></p>';
                                    }
                                    //价格
                                    if(goods.cost != undefined) {
                                        goodsInfo += '<p>￥ ' + goods.cost + '</p>';
                                    }else {
                                        goodsInfo += '<p>￥ ' + 0.00 + '</p>';
                                    }
                                    //好评率
                                    if(goods.good_est != undefined &&  goods.bad_est != undefined){
                                        var good_est = parseInt(goods.good_est);
                                        var bad_est = parseInt(goods.bad_est);
                                        var all_est = good_est + bad_est;
                                        if(all_est > 0){
                                            goodsInfo += '<p>好评率：' + (good_est/all_est) +'%</p>';
                                        }else {
                                            goodsInfo += '<p>好评率：' + 100 +'%</p>';
                                        }
                                    }else {
                                        goodsInfo += '<p>好评率：' + 100 +'%</p>';
                                    }
                                    //描述
                                    if(goods.descs != undefined){
                                        goodsInfo += '<p>' + goods.descs + '</p>';
                                    }else {
                                        goodsInfo += '<p>' + '无' + '</p>';
                                    }
                                    goodsInfo += "</td>";
                                    var goodsId = goods.id;
                                    goodsInfo += "</tr>";
                                    goodsInfos += goodsInfo;
                                }
                                var pageButtons = "";
                                if(json.page != undefined){
                                    var pageNum = parseInt(json.page);
                                    pageButtons += '<tr><td colspan="6" align="center">';
                                    for(var i = 0; i < pageNum; i++){
                                        pageButtons += '<input type="button" value="' + (i+1) + '" onclick="selectPage(' + i + ')"/>';
                                    }
                                    pageButtons += '</td></tr>';
                                }
                                $("#goodsTable").html(goodsInfos + pageButtons);
                            }
                                break;
                            case RESULT_FAIL: {
                                $("#goodsTable").html("没有找到相关的宝贝")
                            }
                                break;
                            default:
                                break;
                        }
                    }
                }
            });
        }
        function logout() {
            $.post("/user/logout.do", {}, function (data, status) {
                var json = eval('(' + data + ')');
                var result = json.sresult;
                window.location.href = "/index.html";
            });
        }
    </script>
</head>
<body>
<table width="983" border="0" rules="none">
    <tr>
        <td width="100" bgcolor="#CCCCCC">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/view/login.html" title="a" class="a" id="lToU"> 登录</a></td>
        <td width="331" bgcolor="#CCCCCC"><a href="/view/regist.html" title="b" class="a" id="rToO">注册</a></td>
        <td width="146" bgcolor="#CCCCCC"><a href="/index.html" title="c" class="a">易书网首页</a></td>
        <td width="149" bgcolor="#CCCCCC"><a href="/view/safety/user/userMainPage.html" title="e" class="a">我的易书</a></td>
        <td width="137" bgcolor="#CCCCCC"><span class="a"> <a href="/view/safety/store/check/storeMainPage.html" title="f">卖家中心</a></span></td>
        <td width="94" bgcolor="#CCCCCC"><span class="a"> <a href="#" title="g">购物车</a></span></td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
</table>
<form action="/view/search/search.html" method="get" accept-charset="utf-8" onsubmit="document.charset='utf-8'">
<table width="985" border="0">
    <tr>
        <td width="301" height="78"><img src="/img/logo.png" width="189" height="68"/></td>
        <td width="514">
            <input type="text" name="keyword" style="height:30px;width:500px" id="keyword"/>
            <input type="hidden" name="type" value="1" id="type"/>
        </td>
        <td width="156">
            <input type="submit" value="搜索" style="background:red;height:30px" class="tj" color="grey"/>
        </td>
    </tr>
</table>
</form>

<table width="984" border="0" class="t">
    <tbody id="goodsTable">
    <!--<tr>-->
        <!--<td width="178" height="212" align="center" valign="middle"><a href="#"><img src="书图片.jpg" width="156" height="156"/></a></td>-->
        <!--<td width="790" align="left" valign="top" bgcolor="#F0F0F0">-->
            <!--<p><a href="#" title="s" class="s">书名</a></p>-->
            <!--<p>￥ 0.00</p>-->
            <!--<p>好评率</p>-->
            <!--<p>导语_点评_推荐词 </p>-->
            <!--<p><input type="button" value="加入购物车" style="background:red;height:30px" class="tj" color="grey"/>&nbsp;&nbsp; &nbsp;<input type="button" value="购买" style="background:red;height:30px" class="tj" color="grey"/></p>-->
        <!--</td>-->
    <!--</tr>-->
    </tbody>
</table>

</body>
</html>
