<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>管理系统-店铺审核</title>
    <style type="text/css">
        .tj {
            color: white
        }
    </style>
</head>

<body>
<p>&nbsp;</p>
<table width="1050" border="1" style="border:1px solid #E9E9E9;">
    <tr>
        <td height="39" colspan="7" align="center">店铺审核</td>
    </tr>
    <tr>
        <td width="112" height="38">公司法人姓名</td>
        <td width="173">公司法人身份证号码</td>
        <td width="167">店铺名称</td>
        <td width="124">经营类别</td>
        <td width="153">营业执照编号</td>
        <td width="139">税务</td>
        <td width="140">是否同意</td>
    </tr>
    <tr>
        <td height="46" id="name1">党旺娥</td>
        <td id="idnumber1">622424199508260024</td>
        <td id="sname1">匆匆那年</td>
        <td id="type1">书籍</td>
        <td id="business1">1012234738574</td>
        <td id="tax1">0.25</td>
        <td id="button1"><input type="button" value="是" style="background:red;height:30px" class="tj" color="grey"/>
            <input type="button" value="否" style="background:red;height:30px" class="tj" color="grey"/></td>
    </tr>
    <tr>
        <td height="46" id="name2">&nbsp;</td>
        <td id="idnumber2">&nbsp;</td>
        <td id="sname2">&nbsp;</td>
        <td id="type2">&nbsp;</td>
        <td id="business2">&nbsp;</td>
        <td id="tax2">&nbsp;</td>
        <td id="button2">&nbsp;</td>
    </tr>
    <tr>
        <td height="46" id="name3">&nbsp;</td>
        <td id="idnumber3">&nbsp;</td>
        <td id="sname3">&nbsp;</td>
        <td id="type3">&nbsp;</td>
        <td id="business3">&nbsp;</td>
        <td id="tax3">&nbsp;</td>
        <td id="button3">&nbsp;</td>
    </tr>
    <tr>
        <td height="46" id="name4">&nbsp;</td>
        <td id="idnumber4">&nbsp;</td>
        <td id="sname4">&nbsp;</td>
        <td id="type4">&nbsp;</td>
        <td id="business4">&nbsp;</td>
        <td id="tax4">&nbsp;</td>
        <td id="button4">&nbsp;</td>
    </tr>
    <tr>
        <td height="46" id="name5">&nbsp;</td>
        <td id="idnumber5">&nbsp;</td>
        <td id="sname5">&nbsp;</td>
        <td id="type5">&nbsp;</td>
        <td id="business5">&nbsp;</td>
        <td id="tax5">&nbsp;</td>
        <td id="button5">&nbsp;</td>
    </tr>
    <tr>
        <td height="46" id="name6">&nbsp;</td>
        <td id="idnumber6">&nbsp;</td>
        <td id="sname6">&nbsp;</td>
        <td id="type6">&nbsp;</td>
        <td id="business6">&nbsp;</td>
        <td id="tax6">&nbsp;</td>
        <td id="button6">&nbsp;</td>
    </tr>
    <tr>
        <td height="46" id="name7">&nbsp;</td>
        <td id="idnumber7">&nbsp;</td>
        <td id="sname7">&nbsp;</td>
        <td id="type7">&nbsp;</td>
        <td id="business7">&nbsp;</td>
        <td id="tax7">&nbsp;</td>
        <td id="button7">&nbsp;</td>
    </tr>
    <tr>
        <td height="46" id="name8">&nbsp;</td>
        <td id="idnumber8">&nbsp;</td>
        <td id="sname8">&nbsp;</td>
        <td id="type8">&nbsp;</td>
        <td id="business8">&nbsp;</td>
        <td id="tax8">&nbsp;</td>
        <td id="button8">&nbsp;</td>
    </tr>
    <tr>
        <td height="46" id="name9">&nbsp;</td>
        <td id="idnumber9">&nbsp;</td>
        <td id="sname9">&nbsp;</td>
        <td id="type9">&nbsp;</td>
        <td id="business9">&nbsp;</td>
        <td id="tax9">&nbsp;</td>
        <td id="button9">&nbsp;</td>
    </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
